includes:
    - phpstan-baseline.neon
    - vendor/cakedc/cakephp-phpstan/extension.neon

parameters:
	level: 6
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	treatPhpDocTypesAsCertain: false
	bootstrapFiles:
		- tests/bootstrap.php
	paths:
		- src/
