parameters:
	ignoreErrors:
		-
			message: "#^Call to function is_object\\(\\) with array\\<string, mixed\\> will always evaluate to false\\.$#"
			count: 1
			path: src/Cache/Engine/DebugEngine.php

		-
			message: "#^Call to function file_get_contents\\(\\) on a separate line has no effect\\.$#"
			count: 1
			path: src/Command/BenchmarkCommand.php

		-
			message: "#^Method DebugKit\\\\Mailer\\\\Transport\\\\DebugKitTransport\\:\\:send\\(\\) should return array\\{headers\\: string, message\\: string\\} but returns array\\{headers\\: non\\-empty\\-array\\<string\\>, message\\: array\\{text\\: string, html\\: string\\}\\}\\.$#"
			count: 1
			path: src/Mailer/Transport/DebugKitTransport.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/Panel/SessionPanel.php

		-
			message: "#^Call to an undefined method Cake\\\\ORM\\\\Locator\\\\LocatorInterface\\:\\:genericInstances\\(\\)\\.$#"
			count: 1
			path: src/Panel/SqlLogPanel.php

		-
			message: "#^Call to an undefined method Psr\\\\Http\\\\Message\\\\ServerRequestInterface\\:\\:getEnv\\(\\)\\.$#"
			count: 1
			path: src/ToolbarService.php
