parameters:
	ignoreErrors:
		-
			message: '#^Call to method skipAuthorization\(\) on an unknown class Authorization\\AuthorizationService\.$#'
			identifier: class.notFound
			count: 1
			path: src/Controller/DebugKitController.php

		-
			message: '#^Class Authorization\\AuthorizationService not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Controller/DebugKitController.php

		-
			message: '#^Possibly invalid array key type string\|null\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: src/DebugInclude.php

		-
			message: '#^Possibly invalid array key type int\|string\|null\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: src/DebugTimer.php

		-
			message: '#^Parameter \#1 \$request of method DebugKit\\ToolbarService\:\:saveData\(\) expects Cake\\Http\\ServerRequest, Psr\\Http\\Message\\ServerRequestInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/Middleware/DebugKitMiddleware.php

		-
			message: '#^PHPDoc tag @property for property DebugKit\\Model\\Table\\PanelsTable\:\:\$Requests contains unresolvable type\.$#'
			identifier: propertyTag.unresolvableType
			count: 1
			path: src/Model/Table/PanelsTable.php

		-
			message: '#^Cannot call method getRequest\(\) on Cake\\Controller\\Controller\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Panel/RoutesPanel.php

		-
			message: '#^Call to an undefined method Cake\\ORM\\Locator\\LocatorInterface\:\:genericInstances\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Panel/SqlLogPanel.php

		-
			message: '#^Dead catch \- Cake\\Core\\Exception\\CakeException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: src/ToolbarService.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/ToolbarService.php
