<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php">
	<php>
		<ini name="memory_limit" value="-1"/>
	</php>

	<!-- Add any additional test suites you want to run here -->
	<testsuites>
		<testsuite name="debug-kit">
			<directory>tests/TestCase</directory>
		</testsuite>
		<!-- Add plugin test suites here. -->
	</testsuites>

	<!-- configure code coverage -->
	<filter>
		<whitelist>
			<directory suffix=".php">src/</directory>
		</whitelist>
	</filter>

	<!-- Setup a listener for fixtures -->
	<listeners>
		<listener class="Cake\TestSuite\Fixture\FixtureInjector">
			<arguments>
				<object class="Cake\TestSuite\Fixture\FixtureManager"/>
			</arguments>
		</listener>
	</listeners>

	<php>
		<!-- Postgres
		<env name="db_dsn" value="postgres://root@localhost/cake_test_db"/>
		-->
		<!-- Mysql
		<env name="db_dsn" value="mysql://root@localhost/cake_test_db"/>
		-->
	</php>
</phpunit>
