<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	colors="true"
	processIsolation="false"
	stopOnFailure="false"
	bootstrap="./tests/bootstrap.php"
	>

	<!-- Add any additional test suites you want to run here -->
	<testsuites>
		<testsuite name="debug-kit">
			<directory>tests/TestCase</directory>
		</testsuite>
		<!-- Add plugin test suites here. -->
	</testsuites>

	<!-- configure code coverage -->
	<filter>
		<whitelist>
			<directory suffix=".php">src/</directory>
		</whitelist>
	</filter>

    <extensions>
        <extension class="Cake\TestSuite\Fixture\PHPUnitExtension"/>
    </extensions>

	<php>
		<ini name="memory_limit" value="-1"/>
        <env name="FIXTURE_SCHEMA_METADATA" value="./tests/schema.php"/>
		<!-- Postgres
		<env name="DB_URL" value="postgres://root@localhost/cake_test_db"/>
		-->
		<!-- Mysql
		<env name="DB_URL" value="mysql://root@localhost/cake_test_db"/>
		-->
	</php>
</phpunit>
