.c-packages-panel__version {
    background: #D33C44;
    border-radius: 4px;
    line-height: 20px;
    display: inline-block;
    white-space: nowrap;
}

.c-packages-panel__link {
    color: #000000;
    text-decoration: none;
}

.c-packages-panel__terminal {
    margin: 20px 0;
    padding: 20px;
    background-color: #1a1a1a;
    color: #ffffff;
    line-height: 1.4;
    display: none;
}

.c-packages-panel__section-header {
    color: #428bca;
}

.c-packages-panel__section-header:nth-of-type(1) {
    margin-top: 0;
}

.c-packages-panel__terminal highlight {
    color: #D33C44;
}

.c-packages-panel__terminal .loading {
    margin: 0;
}

.c-packages-panel__terminal .indicator {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.c-packages-panel__warning-message {
    color: #ffcc00;
}

.c-packages-panel__success-message {
    color: #42bd41;
}
