.c-toolbar {
    background: #D33C44;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.c-toolbar.is-open {
    border-radius: 0;
    overflow: auto;
    padding-right: 40px;
}

.c-toolbar__inner {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: flex-end;
}
