body {
	font-family: Helvetica, Arial, sans-serif;
}

.toolbar {
	background: #efefef;
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#cacaca));
	background: -moz-linear-gradient(top, #efefef, #cacaca);
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Open close button */
#panel-button,
.panel {
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	float: left;
}
#panel-button {
	width: 40px;
}

.panel {
	border-left: 1px solid #ccc;
	padding: 0px 9px;
}

#panel-content-container {
	display: none;
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 40px;
	left: 0;
	right: 0;
}

.button-close {
	position: absolute;
	top: 5px;
	right: 5px;
	background: #eee;
	color: #000;
	display: inline-block;
	padding: 8px;
	line-height: 7px;
	font-size: 14px;
	height: 8px;
	width: 8px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	vertical-align: middle;
	cursor: pointer;
}
.button-close:hover {
	background: #ccc;
}
