/**
 * Colors borrowed from http://www.google.es/design/spec/style/color.html#color-ui-color-palette
 */
body {
	font-family: Helvetica, Arial, sans-serif;
}

/**
 * Basic typography
 */
h1,
h2,
h3,
h4 {
	margin: 15px 0;
	font-weight: bold;
	line-height: 20px;
	text-rendering: optimizelegibility;
}
h1,
h2,
h3 {
	line-height: 40px;
}
h1 {
	font-size: 38.5px;
}
h2 {
	font-size: 31.5px;
}
h3 {
	font-size: 24.5px;
}
h4 {
	font-size: 17.5px;
}

.centered-text {
	text-align: center;
}
.right-text {
	text-align: right;
}


.toolbar {
	background: #efefef;
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#cacaca));
	background: -moz-linear-gradient(top, #efefef, #cacaca);
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Open close button */
#panel-button,
.panel {
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	float: left;
}
#panel-button {
	width: 40px;
}

.panel {
	border-left: 1px solid #ccc;
	padding: 0px 9px;
}

/**
 * Panel layout
 */
#panel-content-container {
	display: none;
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 40px;
	left: 0;
	right: 0;
	overflow-y: auto;
}
.panel-title {
	color: #fff;
	font-weight: normal;
	background: #009688;
	padding: 10px;
	margin: 0;
}
.panel-content {
	padding: 10px;
}

.button-close {
	position: absolute;
	top: 15px;
	right: 15px;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	display: inline-block;
	padding: 8px;
	line-height: 12px;
	font-size: 20px;
	height: 12px;
	width: 12px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	vertical-align: middle;
	cursor: pointer;
}
.button-close:hover {
	background: rgba(0, 0, 0, 0.5);
}

/**
 * Tables
 */
table {
	width: 100%;
	border: 0;
	clear: both;
	margin: 10px 0;
	border-spacing: 0;
}
table td,
table th {
	text-align: left;
	border: 0;
	padding: 6px;
	margin: 0;
}
table td {
	border-bottom: 1px solid #ccc;
}
table th {
	border-bottom: 3px solid #004d40;
	color: #111;
	font-weight: bold;
	line-height: 16px;
}

.debug-table td {
	font-family: Monaco, Consolas, mono-space;
}

/* Two column tables have the 2nd cell right aligned */
.debug-table th:nth-child(2),
.debug-table td:nth-child(2) {
	text-align:right;
}

/**
 * Neat Array styles
 */
.neat-array,
.neat-array li {
	list-style:none;
	list-style-image:none;
}
.neat-array {
	padding: 1px 2px 1px 20px;
	background: #B3E5FC;
	list-style: none;
	margin: 0 0 1em 0;
}
.neat-array .neat-array {
	padding: 0 0 0 20px;
	margin: 0;
	border-top: 1px solid #B3E5FC;
}
.neat-array li {
	border-top: 1px solid #B3E5FC;
	border-bottom: 1px solid #B3E5FC;
	background: rgba(255, 255, 255, 0.95);
	margin: 0;
	line-height: 1.5em;
}
.neat-array li:hover {
	background: #fff;
}
.neat-array li strong {
	padding: 0 8px;
	font-weight: bold;
}

/* expandable sections */
.neat-array li.expandable {
	cursor: pointer;
}
.neat-array .expanded {
	border-bottom:0;
}
.neat-array li.expandable.expanded > strong:before {
	position: relative;
	left: -3px;
	content: "\2937 ";
}
.neat-array li.expandable.collapsed > strong:before,
.neat-array li.expandable.expanded .expandable.collapsed > strong:before {
	position: relative;
	left: -3px;
	content: "\2192 ";
}
.neat-array li {
	cursor: default;
}



/**
 * Graph table.
 */
.graph-bar,
.graph-bar-value {
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
	height: 14px;
}
.graph-bar {
	background: #ddd;
}
.graph-bar-value {
	background: #259b24;
}
