@font-face {
	font-family: 'CakeFont';
	src: url('./raleway-medium.eot');
	src: url('./raleway-regular.eot?#iefix') format('embedded-opentype'),
		url('./raleway-regular.woff') format('woff'),
		url('./raleway-regular.ttf') format('truetype'),
		url('./raleway-regular.svg#ralewayregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
	overflow: hidden;
}

/**
 * Basic typography
 */
h1,
h2,
h3,
h4 {
	font-family: 'CakeFont', sans-serif;
	margin: 15px 0;
	font-weight: 300;
	line-height: 20px;
	text-rendering: optimizelegibility;
}
h1,
h2,
h3 {
	line-height: 40px;
}
h1 {
	font-size: 38.5px;
}
h2 {
	font-size: 31.5px;
}
h3 {
	font-size: 24.5px;
}
h4 {
	font-size: 17.5px;
}
p {
	margin-bottom: 10px;
}

.centered-text {
	text-align: center;
}
.right-text {
	text-align: right;
}

.toolbar {
	background: #D33C44;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.toolbar.open {
	border-radius: 0;
	overflow: auto;
}

.hidden {
	display: none;
}

/* Open close button */
#panel-button,
.panel {
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	float: left;
}
#panel-button {
	line-height: 20px;
	height: 40px;
	width: 40px;
	position: absolute;
	right: 0;
	bottom: 0;
}
#panel-button img {
	margin: 0;
	display: block;
}
.panel-button {
	color: #fff;
	font-family: CakeFont, Helvetica, Arial, sans-serif;
}
.panel-summary {
	background: rgba(60, 60, 60, 0.3);
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	padding: 4px;
	border-radius: 4px;
	vertical-align: middle;
}


.panel {
	border-left: 1px solid rgba(0, 0, 0, 0.075);
	padding: 0px 9px;
}
.panel:first-child {
	border-left: 0;
}
.panel-active {
	background: #fff;
	color: #D33C44;
	transition: background-color 300ms linear;
}
.panel-active .panel-button {
	color: #D33C44;
}

.history-mode .panel-active .panel-button {
	color: #ab47bc;
}

/**
 * Panel layout
 */
#panel-content-container {
	background: #fff;
	position: absolute;
	top: 100%;
	bottom: 40px;
	left: 0;
	right: 0;
	overflow-y: auto;
	transition: top 0.25s ease-out;
}

#panel-content-container.enabled {
	top: 0;
	transition: top 0.25s ease-out-expo;
}

@keyframes slideup {
	from {
		top: 100%;
	}
	to {
		top: 0%;
	}
}

.panel-title {
	color: #fff;
	font-family: CakeFont, sans-serif;
	font-weight: normal;
	background: #D33C44;
	padding: 10px;
	margin: 0;
	transition: background-color 300ms linear;
}
.history-mode .panel-title {
	background: #ab47bc;
}
.panel-content {
	padding: 10px;
}

.button-close {
	position: absolute;
	top: 15px;
	right: 15px;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	display: inline-block;
	padding: 8px;
	line-height: 12px;
	font-size: 20px;
	height: 12px;
	width: 12px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	vertical-align: middle;
	cursor: pointer;
}
.button-close:hover {
	background: rgba(0, 0, 0, 0.5);
}

.section-tile {
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding: 10px;
}


/**
 * Tables
 */
table {
	width: 100%;
	border: 0;
	clear: both;
	margin: 10px 0;
	border-spacing: 0;
}
table td,
table th {
	text-align: left;
	border: 0;
	padding: 9px;
	margin: 0;
}
table td {
	border-bottom: 1px solid #ccc;
}
table th {
	border-bottom: 3px solid #2a6496;
	color: #111;
	font-weight: bold;
	line-height: 16px;
}

pre,
.debug-table td {
	font-family: Monaco, Consolas, mono-space;
}

/* X column tables have the 2nd+ cell right aligned */
.debug-table th:nth-child(n+2),
.debug-table td:nth-child(n+2) {
	text-align:right;
}
.debug-table td:nth-child(n+2) {
	word-wrap: break-word;
	word-break: break-all;
	word-break: break-word; /* Not standard for webkit */
}

.list {
	list-style: disc;
	margin: 10px 0 10px 20px;
}

/**
 * Neat Array styles
 */
.neat-array,
.neat-array li {
	list-style:none;
	list-style-image:none;
}
.neat-array {
	padding: 1px 2px 1px 20px;
	background: #eaeae7;
	list-style: none;
	margin: 0 0 1em 0;
}
.neat-array .neat-array {
	padding: 0 0 0 20px;
	margin: 0;
	border-top: 1px solid #eaeae7;
}
.neat-array li {
	border-top: 1px solid #eaeae7;
	border-bottom: 1px solid #eaeae7;
	background: rgba(255, 255, 255, 0.95);
	margin: 0;
	line-height: 1.5em;
}
.neat-array li:hover {
	background: #fff;
}
.neat-array li strong {
	padding: 0 8px;
	font-weight: bold;
}
.neat-array li > strong:before {
	position: relative;
	left: -3px;
	content: "\2003 ";
}

/* expandable sections */
.neat-array li.expandable {
	cursor: pointer;
}
.neat-array .expanded {
	border-bottom:0;
}
.neat-array li.expandable.expanded > strong:before {
	position: relative;
	left: -3px;
	content: "\2937 ";
}
.neat-array li.expandable.collapsed > strong:before,
.neat-array li.expandable.expanded .expandable.collapsed > strong:before {
	position: relative;
	left: -3px;
	content: "\2192 ";
}
.neat-array li {
	cursor: default;
}

.toggle-checkbox {
	display: block;
	margin-bottom: 10px;
	font-size: 12px;
	color: #666;
}
.toggle-checkbox input[type=checkbox] {
	vertical-align: middle;
	margin-top: 0;
}


/**
 * Graph table.
 */
.graph-bar,
.graph-bar-value {
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
	height: 14px;
}
.graph-bar {
	background: #ddd;
}
.graph-bar-value {
	background: #428bca;
}


/**
 * History panel
 */
.history-list li {
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.history-list .active:before {
	content: "\2022 ";
	font-size: 40px;
	color: #42bd41;
	line-height: 12px;
	position: absolute;
	top: 38%;
	left: 0;
	vertical-align: middle;
}
.history-list li:last-child {
	border-bottom: 0;
}
.history-list li:hover {
	background-color: #e7e9fd;
}

.history-link {
	color: #222;
	display: block;
	text-decoration: none;
	padding: 6px;
}

.history-bubble {
	font-size: 12px;
	line-height: 14px;
	display: inline-block;
	background: #eee;
	padding: 2px;
	border-radius: 4px;
}

.xhr {
	background:#7CFF46
}
.history-time {
	font-size: 12px;
	display: block;
}
.history-url {
	font-size: 14px;
	font-family: Monaco, Consolas, mono-space;
}


/**
 * Warnings and info boxes.
 */
.warning,
.info {
	padding: 10px 10px 10px 20px;
	font-size: 14px;
}

.warning {
	background: #f2dede;
}

.info {
	background: #d9edf7;
}
.warning:before,
.info:before {
	padding: 8px;
	line-height: 12px;
	font-size: 20px;
	font-family: "CakeFont";
	font-weight: bold;
	height: 12px;
	width: 12px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	left: -11px;

	background-color: #fff;
}

.warning:before {
	color: #f2dede;
	content: '!';
}
.info:before {
	color: #d9edf7;
	content: 'i';
}

/**
 * Buttons
 */
.btn-primary {
	font-size: 14px;
	border: 1px solid #2a6496;
	background-color: #428bca;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 0 #2a6496;
}
.btn-primary:active {
	box-shadow: none;
	position: relative;
	top: 2px;
}

.btn-primary:hover {
	cursor:pointer;
}

#loader {
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	top: 0;
	bottom: 40px;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: 100;
	display: none;
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

#loader.loading {
	display: block;
	opacity: 1;
}

#loader .indicator {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -15px;
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
