@font-face {
    font-family: 'CakeFont';
    src: url('./raleway-medium.eot');
    src: url('./raleway-regular.eot?#iefix') format('embedded-opentype'),
    url('./raleway-regular.woff') format('woff'),
    url('./raleway-regular.ttf') format('truetype'),
    url('./raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

