h1,
h2,
h3,
h4 {
    font-family: 'CakeFont', sans-serif;
    margin: 15px 0;
    font-weight: 300;
    line-height: 20px;
    text-rendering: optimizelegibility;
}

h1,
h2,
h3 {
    line-height: 40px;
}

h1 {
    font-size: 38.5px;
}

h2 {
    font-size: 31.5px;
}

h3 {
    font-size: 24.5px;
}

h4 {
    font-size: 17.5px;
}

p {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}
