.c-panel-content-container {
    background: #fff;
    position: absolute;
    top: 100%;
    bottom: 40px;
    left: 0;
    right: 0;
    overflow-y: auto;
    transition: top 0.25s ease-out;
}

.c-panel-content-container.is-active {
    top: 0;
}

.c-panel-content-container__close {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 50%;
        height: 2px;
        background: #fff;
        transform-origin: 50% 50%;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
        transform: translate(-50%, -50%) rotate(315deg);
    }
}

.is-active .o-loader.is-active {
    display: block;
}

.c-panel-content-container__content .o-loader {
    display: none;
}
