.c-toolbar {
    display: flex;
    background: #D33C44;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.is-active .c-toolbar {
    width: 100%;
    border-radius: 0;
    overflow: auto;
    padding-right: 40px;
}

.c-toolbar__inner-wrapper {
    display: none;
    flex: 1;
}

.is-active .c-toolbar__inner-wrapper {
    display: block;
}

.c-toolbar__inner-ul {
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.c-toolbar__button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #D33C44;
}

.c-toolbar__scroll-button {
    display: none;
    font-size: 1.25em;
    cursor: pointer;
}

.is-active .c-toolbar__scroll-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-toolbar__scroll-button--right {
    margin-left: 20px;
}
