.o-loader {
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 100;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.o-loader.is-active {
    display: block;
    opacity: 1;
}

.o-loader__indicator {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
