body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

table {
    width: 100%;
    border: 0;
    clear: both;
    margin: 10px 0;
    border-spacing: 0;
}

table td,
table th {
    text-align: left;
    border: 0;
    padding: 9px;
    margin: 0;
}

table td {
    border-bottom: 1px solid #cccccc;
}

table th {
    border-bottom: 3px solid #2a6496;
    color: #111111;
    font-weight: bold;
    line-height: 16px;
}

pre {
    font-family: Monaco, Consolas, monospace;
}
