---
name: 'deploy_docs_4x'

on:
  push:
    branches:
      - 4.x
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: 'ssh://dokku@apps.cakephp.org:22/debugkit-docs-4'
          git_push_flags: '-f'
          ssh_private_key: ${{ secrets.DOKKU_SSH_PRIVATE_KEY }}
